<h1>Song Edit Form Page</h1>

<p>This is the song edit form page.</p>

<%= form_for (@song) do |f| %>

  <% if @song.errors.any? %>
     <% @song.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   <% end %>

   <br><br>
   Title: <%= f.text_field :title %>
   <br><br>
   Released? <%= f.check_box :released %>(check if yes)
   <br><br>
   Release Year: <%= f.text_field :release_year %>
   <br><br>
   Artist: <%= f.text_field :artist_name %>
   <br><br>
   Genre: <%= f.text_field :genre %>
   <br><br>
   <%= f.submit %>
 <% end %>
